@font-face {
  font-family: "HanSerifSC";
  src: url("/fonts/SourceHanSerifSC-Regular.otf")
}

body {
  font-size: 18px;
  font-family: "HanSerifSC", serif;
  margin-left: 24%;
  margin-right: 24%;
  margin-top: 80px;
  line-height: 2; <!-- 行间距 -->
}

body::after {
    content: "";
    display: block;
    height: 80px; /* 留出80px的底部空间 */
}

@media only screen and (max-width: 600px) {
  body {
    margin-left: 5%; /* 在小屏幕设备上将 margin-left 设置为 0 */
    margin-right: 5%; /* 在小屏幕设备上将 margin-right 设置为 0 */
    font-size: 16px;
  }
}

ul {
    padding-left: 25px;
}

a {
  position: relative;
  text-decoration: none;
  color: #000;
  display: inline-block; /* 保持链接为内联块元素 */
}
a::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 2px;
  width: 100%;
  border-bottom: 3px solid rgba(200, 200, 200, 0.5); /* 下划线效果，稍微粗一点 */
}
a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 5px; /* 调整位置避免覆盖下划线 */
  width: 100%;
  height: 0;
  background-color: rgba(200, 200, 200, 0.5); /* 灰色荧光笔效果 */
  transition: height 0.3s ease;
  z-index: -1; /* 使伪元素在文本后面 */
}
a:hover::after {
  height: 30%;
}

.center {
  text-align: center;
}

h1 {
  border-bottom: 1px solid black;
  /* 可以根据需要调整下划线的样式 */
}

.home-button {
  position: absolute;
  top: 15px;
  right: 25px;
  display: inline-block;
  padding: 5px 10px;
  margin: 10px 0;
  background-color: white;
  color: black;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: transform 0.3s, background-color 0.3s;
}
.home-button:hover {
  color: inherit;
  transform: scale(1.1);
  background-color: lightgray;
}
footer {
  color: gray;
  text-align: center;
  padding: 20px 0;
}
pre {
  color: #000; /* 文字颜色 */
  background: #fff; /* 背景颜色 */
  border: 1px solid #000; /* 边框颜色 */
  box-shadow: 5px 5px 10px rgba(0,0,0,0.2); /* 立体阴影效果 */
  font-family: monospace; /* 等宽字体 */
  padding: 1em;
  border-radius: 4px; /* 轻微的圆角 */
  margin: 1em 0; /* 保证周围有空间 */
  overflow: auto; /* 内容超出时显示滚动条 */
  white-space: pre; /* 保留空格和换行 */
}

.latex-container {
  display: flex;
  justify-content: center;
}

.btn {
  display: inline-block;
  padding: 5px 6px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  border: 1.2px solid #000; /* 黑色边框 */
  color: #000; /* 黑色文字 */
  background-color: #fff; /* 白色背景 */
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
}

/* 按钮悬停样式 */
.btn:hover {
  background-color: #000; /* 黑色背景 */
  color: #fff; /* 白色文字 */
  border-color: #000; /* 黑色边框 */
}

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: none;
    padding: 8px 8px;
    border-radius: 3px;
    cursor: pointer;
    display: none; /* 初始隐藏 */
    background-color: #000;
    color: #fff;
}

.message {
    display: block;
    
    margin: 2px auto;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    text-align: left;
}
.info {
    background-color: #e7f3fe;
    border: 1px solid #b3d7ff;
    color: #31708f;
}
.warning {
    background-color: #fcf8e3;
    border: 1px solid #faebcc;
    color: #8a6d3b;
}
.safe {
    background-color: #dff0d8;
    border: 1px solid #d6e9c6;
    color: #3c763d;
}
.caution {
    background-color: #f2dede;
    border: 1px solid #ebccd1;
    color: #a94442;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
}
th, td {
    padding: 5px 5px;
    border-bottom: 1px solid #ddd;
    text-align: center;
    white-space: nowrap; /* 防止文字换行 */
}
th {
    background-color: #e0e0e0;
    color: #333333;
    font-weight: bold;
}
tr:nth-child(even) {
    background-color: #f9f9f9;
}
tr:hover {
    background-color: #f1f1f1;
}
table tr:first-child th:first-child {
    border-top-left-radius: 10px;
}
table tr:first-child th:last-child {
    border-top-right-radius: 10px;
}

.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow-x: auto;
}

.date-info {
    font-size: 0.9em;
    color: gray;
}

code {
    background-color: #f4f4f4;
    padding: 2px 4px;
    font-family: "Courier New", Courier, monospace, "HanSerifSC";
    /*     color: #c7254e; */
    color: #8A2BE2;
    border-radius: 4px;
}
pre {
    background-color: #f4f4f4;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow-x: auto;
}
