@font-face {
  font-family: "American Typewriter";
  src: url("/fonts/American Typewriter Regular.ttf")
}

hr {
  position: static;
  margin-left: 0;
}
.topic {
  font-weight: bold;
  display: inline-block;
  padding: 5px 10px;
  margin: 0;
  background-color: white;
  color: black;                
  text-align: center;
  text-decoration: none;   
  border-radius: 5px;
  transition: transform 0.3s ease;
}
.topic:hover {
  transform: scale(1.02); /* 放大 */
  background-color: black;
  color: white;
}
.menu {
  font-family: serif;
  display: inline-block;
  padding: 2px 4px;
  marin: 2px;
  background-color: white;
  color: black;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  transition: transform 1s ease;
}
.topic:hover {
  background-color: black;
  color: white;
}
.center {
  text-align: center;
}
